

body {
    background-color: #fafafa;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

#login-sayfasi {
    border: 3px solid #f1f1f1;
    width: 430px;
    height:auto;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px 6px gray;
}

#kullaniciAdi, #sifre {
    display: inline-block;
    text-align: left;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    width: 100%;
    height: 50px;
    margin-top: 50px;
   
    border-radius: 10px;
}

#sifre {
    margin-top: 30px;
}

.ust-bilgi {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin: 10px 10px 0px;
    box-shadow: 0 0 black;
}

.sol-ust-cizgi {
    display: inline;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #c7c7c7;
    height: 1px;
    position: relative;
    top: .45em;
}

.ust-yazi {
    display: inline;
    color: #999;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.sag-ust-cizgi {
    display: inline;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #c7c7c7;
    height: 1px;
    position: relative;
    top: .45em;
}

.alt-bilgi {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin: 40px 10px 10px;
    box-shadow: 0 0 black;
}

.sol-alt-cizgi {
    display: inline;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #c7c7c7;
    height: 1px;
    margin-top: 20px;
    position: relative;
    top: .45em;
}

.sag-alt-cizgi {
    display: inline;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 20px;
    background-color: #c7c7c7;
    height: 1px;
    position: relative;
    top: .45em;
}

#giris {
    display: inline-block;
    width: 170px;
    height: 60px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: #3897f0;
    border-color: #3897f0;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    margin: 0 18px;
}
    
    #giris:active {
        background-color: #3897f0;
        opacity: .7;
    }
   
        
    .uyari {
        display: block;
        margin: 30px 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: #ed4956;
    }


